@import '../mixins/static.scss';

// Filmotype Fashion
@font-face {
  font-family: 'Filmotype Fashion';
  src: url($static_url+'/fonts/filmotype/filmotype.woff2') format('woff2'),
    url($static_url+'/fonts/filmotype/filmotype.woff') format('woff');
}
// Sofia Pro

@font-face {
  font-family: 'Sofia Light';
  src: url($static_url+'/fonts/sofia-pro/8d11b8a0-868c-4a53-8b26-9f0ccbd58247.woff2')
      format('woff2'),
    url($static_url+'/fonts/sofia-pro/9b976f15-23b7-45cd-ad4b-59c95b2889f9.woff')
      format('woff');
}
@font-face {
  font-family: 'Sofia Regular';
  src: url($static_url+'/fonts/sofia-pro/8b31e0d7-5f53-45c2-b318-064f0b532543.woff2')
      format('woff2'),
    url($static_url+'/fonts/sofia-pro/476fe015-ab32-40a2-8fed-0a5af9a3bba4.woff')
      format('woff');
}
@font-face {
  font-family: 'Sofia Regular Italic';
  src: url($static_url+'/fonts/sofia-pro/87cd0dd6-3e8b-46f1-b677-ab7644ea015e.woff2')
      format('woff2'),
    url($static_url+'/fonts/sofia-pro/90682d0e-e5df-4a2e-a2ff-6899b8ae8e4b.woff')
      format('woff');
}
@font-face {
  font-family: 'Sofia Medium';
  src: url($static_url+'/fonts/sofia-pro/fe0b48dd-7bb4-4787-913d-eaf613373f35.woff2')
      format('woff2'),
    url($static_url+'/fonts/sofia-pro/d493595c-97d2-4edc-bc9a-c09ad13b4913.woff')
      format('woff');
}
@font-face {
  font-family: 'Sofia Semi Bold';
  src: url($static_url+'/fonts/sofia-pro/20755c49-19b5-4792-aaf3-27f6b048149a.woff2')
      format('woff2'),
    url($static_url+'/fonts/sofia-pro/7cdc9309-dc21-43e2-a348-c6e3853fe8a9.woff')
      format('woff');
}
@font-face {
  font-family: 'Sofia Bold';
  src: url($static_url+'/fonts/sofia-pro/80042803-0630-405f-b2d2-af97b4e50b46.woff2')
      format('woff2'),
    url($static_url+'/fonts/sofia-pro/ec41d681-0313-4b04-88c0-820aebb51f4e.woff')
      format('woff');
}
