@import '../../../styles/mixins.scss';

.search {
  position: relative;
  // inherits vertical padding from form
  //max-width: $fieldWidth;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0.5rem;
    z-index: 1;
    background: url('./search.svg') no-repeat center center;
    background-size: 1.2rem 1.2rem;
    width: 1.2rem;
    height: 100%;
  }

  input[type='text'].input {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    display: inline-block;
  }

  .searching {
    display: inline-block;
    position: absolute;
    margin: 1rem 0 0 -1em;
    z-index: 1;
    font-size: 3rem;
    line-height: 1rem;
    span {
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      background-size: 100%;
      background-position: left;
      background-image: linear-gradient(to right, $green, $blue);
    }
  }
  .clear {
    display: inline-block;
    position: absolute;
    margin: 2rem 0 0 -1.4em;
    font-size: 1.2rem;
    line-height: 100%;
    z-index: 1;
    text-transform: uppercase;
    cursor: pointer;
    //line-height: 1em;

    color: $gray;
    //  padding: 0.3em 0.4em;
  }

  &.dark {
    input {
      color: $darkWhite;
      background-color: $purple;
      &:hover,
      &:focus {
        background-color: $purple;
      }
    }
  }
}
