@import '../../styles/mixins.scss';

.card {
  @include box(space-between);
  height: auto;
  width: auto;
  min-height: 7rem;
  border-radius: 5px;
  background-color: $white;
  margin: 1rem;
//  overflow: hidden;
  @include shadow;
  border: 1px solid $shadow;
}

.content {
  width: 100%;
  padding: 1rem 1.5rem;
  &.centered {
    @include box;
  }
}

// update styles...
.header {
  width: 90%;
  border-bottom: 1px solid $lightestGray;
  margin: auto;
  > div {
    padding: 1.5rem 0;
  }
}

.headerBorder {
  padding: 0 2rem;
  width: 100%;
  > hr {
    color: grey;
    width: 100%;
    height: .5px;
    border: 0;
    border-top: 1px solid $gray;
    margin: 0;
  }
}

.footer {
  width: 100%;
  background: $lightestGray;
  > div {
    padding: 1.5rem 1.5rem;
  }
}

.footerCount {
  @include row(flex-end);
  @include font($f300);
  color: $blue;
  font-size: 1.1rem;
  > span {
    @include font($f600);
    margin-right: .3em;
  }
}
