{
  "env": {
    "development": {
      "presets": ["env", "es2015", "react", "stage-1"]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "es2015": {
              "modules": false
            },
            "targets": {
              "ie": 9,
              "uglify": true
            }
          }
        ],
        "react",
        "stage-1"
      ],
      "plugins": [
        "react-hot-loader/babel",
        "transform-react-constant-elements",
        "transform-react-remove-prop-types",
        "syntax-dynamic-import",
        [
          "module-resolver",
          {
            "root": ["./src"],
            "alias": {
              "instruments": "./src/instruments",
              "modules": "./src/modules"
            }
          }
        ]
      ]
    },
    "test": {
      "presets": ["env", "es2015", "react", "stage-1"],
      "plugins": [
        "babel-plugin-dynamic-import-node",
        [
          "module-resolver",
          {
            "root": ["./src"],
            "alias": {
              "instruments": "./src/instruments",
              "modules": "./src/modules"
            }
          }
        ]
      ]
    }
  }
}
