@import 'src/styles/mixins.scss';

a {
  color: inherit;
  font-style: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all 250ms ease-in;
  transform: translateZ(0);
}
a * {
  cursor: pointer;
}
a:hover,
a:focus {
  transform: scale(1.03);
  border: 0;
  outline: 0;
}
a:active {
  transform: scale(0.98);
  border: 0;
  outline: 0;
}
a:visited {
  color: inherit;
}

.arrow {
  display: inline-block;
  height: 0.6em;
  margin-left: 1rem;
  transition: all 250ms ease-in;
}

.backArrow {
  display: inline-block;
  height: 0.6em;
  margin-right: 1rem;
  transform: rotate(180deg);
  transition: all 250ms ease-in;
}
