@import 'src/styles/mixins.scss';

.legal {
  color: $beige;
  font-size: 0.85rem;
  text-align: center;

  a {
    color: $green;
  }
}

.extras {
  margin: 0.5 0 2.5rem;

  @include mini;

  p:not(:last-child) {
    margin: 0;
  }

  .forgotPassword {
    display: inline;

    @include font($f300);
  }
}

.or {
  @include filmo;
}

.button {
  margin: 1rem auto;
  width: 100%;
}

.card {
  .emailButton {
    background: $purple;
    display: block;
  }
}

.cardBody {
  text-align: center;
}

.footer {
  text-align: center;
  max-width: 34rem;
  margin: auto;
}
