@import 'src/styles/mixins.scss';

.extras {
  margin: 0.5 0 2.5rem;
  @include mini;
  p:not(:last-child) {
    margin: 0;
  }
  .forgotPassword {
    display: inline;
    @include font($f300);
  }
}

.or {
  @include filmo;
}

.button {
  margin: 1rem auto;
  width: 91%;
}


.card {
  .emailButton {
    background: $purple;
    display: block;
  }
}

.footer {
  text-align: center;
  max-width: 34rem;
  margin: auto;

  p {
    color: $beige;
  }
}
