@import '../../../styles/mixins.scss';

.snackbar {
  position: fixed;

  font-size: 1.3rem;
  color: $white;
  padding: 0;
  @include font($f500);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-image: linear-gradient(to right, $green, $blue);
  transition: height 200ms ease-out;
  border-radius: 0;
  box-shadow: 0 -1px 1.2em 0.3em $shadow;

  cursor: pointer;
  z-index: 10000;

  &.show {
    height: 5.54rem;
  }

  .message {
    width: 100%;
    text-align: center;
    padding: 0 1.5rem;
  }
}
