@import 'src/styles/mixins.scss';

.backdrop {
  position: relative;
  z-index: inherit;

  div {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: inherit;
  }
  &.blur div {
    background: $purple;
    opacity: 0.5;
  }
  &.close {
    cursor: pointer;
  }
  // @media screen and (max-width:$mobileNav) {
  //   div {
  //     background: $darkWhite;
  //     opacity: .7;
  //   }
  // }
}
