@import 'src/styles/mixins.scss';

div.list {
  height: auto;
  min-height: 50vh;
}

.log {
  width: 100%;
  min-width: 18rem;
  word-break: break-word;
}

.date {
  color: $lightBlue;
}

.waiting {
  color: $darkWhite;
}

.since {
  width: 25rem;
}

.button {
  flex-grow: 1;
  &:not(:first-child) {
    border-left: 2px solid $lightGray;
  }
  h5 {
    text-transform: capitalize;
    color: $gray;
    transition: color 250ms ease-in;
  }
  img {
    filter: grayscale(100%) contrast(0) brightness(1.6);
    transition: filter 250ms ease-in;
    width: 2.6rem;
    margin-right: 1rem;
  }
}
.active {
  img {
    filter: none;
  }
  h5 {
    text-transform: capitalize;
    color: $lightBeige;
  }
}

// duplicated from Card instrument
$footerHeaderHeight: 6.2rem;
.tabs {
  h5 {
    white-space: nowrap;
  }
  min-height: $footerHeaderHeight;
}
