@import 'src/styles/mixins.scss';

.field {
  input[type='number'] {
    padding: 0.4em 0.1em 0.5em 0.8em;
    width: 6rem;
    min-width: 5rem;
    max-width: 34rem;
  }
}

.slider {
  margin-left: 2.5rem;
}

.units {
  color: $beige;
  margin-left: 0.4rem;
  min-width: 4.5rem;
}
