@import 'src/styles/mixins.scss';

.confirm {
  //  background: $purple;
  //color: $white;
  &:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
    transform: translate(-50%, 14.7vh) scaleX(0.5) rotate(45deg);
    background: $lightGray;
    height: 70.7vh;
    width: 70.7vh;

    @media screen and (max-width: 930px) {
      transform: translate(-50%, 14.7vh) scaleX(0.32s) rotate(45deg);
    }
  }
}

.footer {
  color: $lightBeige;
}

.rocket {
  height: 32rem;
}
