@import 'src/styles/mixins.scss';

.card {
  background: $white;
  border: 1px solid $orange;
  padding: 1px;

  main {
    background: $white;
  }
}

.content {
  margin: auto;
  width: 100%;
  max-width: 54rem;
  padding: 1.5rem 0 3rem;
}

.message {
  width: 60%;
  flex-grow: 1;

  h2 {
    margin-bottom: 2rem;
  }
}

.img {
  height: 20rem;
}
