@import 'src/styles/mixins.scss';

.label {
  font-size: 1.3rem;
  display: block;

  @include font($f400);

  color: $beige;
  text-align: left;
  text-transform: capitalize;

  b {
    @include font($f400);
  }
}
