@import 'fonts';
@import 'colors';
@import 'type';

/**
 * Ensure content spans at least the size of the browser window.
 * See: https://codepen.io/absolutholz/post/html-and-body-element-height-100
 *
 * NOTE
 * html is set to 62.5% so that all the REM measurements throughout
 * are based on 10px sizing. So basically 1.5rem = 15px
 * ==========================================================================
 */
html,
#root {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
}

/**
 * CSS reset for browser consistency.
 * See: http://cssreset.com/scripts/eric-meyer-reset-css/
 * ==========================================================================
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: inherit;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Global tag styles.
 * ==========================================================================
 */
body {
  background-color: var(--white-10);
  color: var(--purple-12);
  font-family: var(--sans-primary);
  font-size: var(--type-md);
  font-weight: 200;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

::-webkit-input-placeholder { color: var(--gray-08); }
:-ms-input-placeholder { color: var(--gray-08); }
::placeholder { color: var(--gray-08); }

h1 {
  line-height: 1.14em;
  font-size: var(--type-xl);
  font-weight: 600;
  white-space: nowrap;
  margin-bottom: 1rem;
}

h2 {
  font-size: var(--type-lg);
  white-space: nowrap;
}

h3 {
  font-size: var(--type-md);
}

h4 {
  font-size: var(--type-sm);
}
