@import 'src/styles/mixins.scss';

.title {
  margin-bottom: 2rem !important;
}

.logo {
  width: 10rem;
  height: auto;
  margin-bottom: 1rem;
}

.signup ul {
  position: relative;
  margin-top: -1.5rem;

  li {
    color: $purple;
    margin: 1.2rem 0;

    &::before {
      content: '';
      margin-right: 0.9em;
      display: inline-block;
      position: relative;
      border-bottom-width: 3px;
      border-color: $purple;
      border-left: 0;
      border-right-width: 3px;
      border-style: solid;
      border-top: 0;
      height: 0.7em;
      width: 0.3em;
      transform: rotate(45deg);
    }
  }

  @media screen and (max-width: 1212px) {
    margin-bottom: 5rem;
  }
}
