@import 'src/styles/mixins.scss';

div.list {
  height: auto;
  min-height: 50vh;
}

.title {
  width: 55%;
  min-width: 18rem;
  @media screen and (max-width: 50rem) {
    flex-basis: 1;
    flex-grow: 1;
  }
}

.log {
  width: 35%;
  min-width: 18rem;
  color: $beige;
  @media screen and (max-width: 55rem) {
    display: none;
  }
}

.large {
  width: 14rem;
}

.icon {
  width: 3rem;
  //  z-index: 2;
}

.type {
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 100rem;
  border: 1px solid $gray;
  margin-left: -1rem;
  margin-top: 0.5rem;
  background: $white;
  overflow: hidden;
  img {
    width: 72%;
    //opacity: 0.4;
  }
}
