@import '../../../styles/mixins.scss';

div.list {
  height: auto;
  min-height: 80vh;
}

.title {
  width: 60%;
  min-width: 18rem;
}

.log {
  width: 40%;
  min-width: 18rem;
}

.item {
  h4 {
    color: $lightPurple;
  }
  .subTitle {
    color: $beige;
  }
}
