@import 'src/styles/mixins.scss';

div.list {
  height: auto;
  min-height: 50vh;
}

.title {
  width: 55%;
  min-width: 18rem;
  @media screen and (max-width: 50rem) {
    flex-basis: 1;
    flex-grow: 1;
  }
}

.log {
  width: 35%;
  min-width: 18rem;
  color: $beige;
  @media screen and (max-width: 55rem) {
    display: none;
  }
}

.upgrade {
  width: 35%;
  min-width: 18rem;
  color: $darkGreen;
  @media screen and (max-width: 55rem) {
    display: none;
  }
}

.item:hover {
  :global {
    .ring {
      transform: rotate(360deg);
    }
  }
}

.airflowImg {
  $size: 12rem;
  width: $size;
  height: $size;
  .dag {
    height: $size * 0.4;
  }
}
