@import '../../../styles/mixins.scss';

$size: 3.6rem;

.menu {
  height: $size;
  width: $size;
  border-radius: 100rem;
  box-shadow: 0 0 0 2px $lightGray;
  background: $gray;
}

.profile {
  height: 66%;
}
