@import 'src/styles/mixins.scss';

$size: 3.5rem;

.icon {
  height: $size;
  width: $size;
  border-radius: 100rem;
  box-shadow: 0 0 0 2px $lightGray;
  background: $gray;
}

.profile {
  box-shadow: 0 0 0 2px $lightGray;
  background: $gray;
  img {
    height: 100%;
    &:hover {
      transform: rotate(12deg);
      transition: 250ms ease-in;
    }
  }
}

.title {
  display: block;
  margin: 1.2rem 0;
}
