@import '../../../styles/mixins.scss';

$size: 3.5rem;

.icon {
  height: $size;
  width: $size;
  border-radius: 100rem;
  box-shadow: 0 0 0 2px $lightGray;
  background: $gray;
}

.profile {
  height: 67%;
  &:hover {
    transform: rotate(12deg);
    transition: 250ms ease-in;
  }
}

.content {
  width: 80%;
  margin: auto;
}
