@import 'src/styles/mixins.scss';

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.container {
  display: flex;
  margin: 5rem auto;
}

.logo {
  animation: spin 1.5s linear infinite;

  img {
    width: 100px;
    height: 100px;
  }
}
