@import 'src/styles/mixins.scss';

div.list {
  height: auto;
  min-height: 50vh;
}

.item:hover {
  :global {
    .ring {
      transform: rotate(360deg);
    }
  }
}

.airflowImg {
  $size: 12rem;
  width: $size;
  height: $size;
  .dag {
    height: $size * 0.4;
  }
}

.item main {
  background-image: linear-gradient(to right, $lightGreen, $darkBlue);
  background-size: 100% 2.8rem;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 4.8rem;
}
