@import '../../../styles/mixins.scss';

.search {
  padding-right: 3rem;
}

@media screen and (max-width: 680px) {
  .header {
    flex-wrap: wrap;
  }
}

.tableRow {
  display: block;
  &:nth-child(even) {
    background-color: $lightGray;
  }
}
