@import '../../../styles/mixins.scss';

.search {
  padding-right: 3rem;
}

@media screen and (max-width: 680px) {
  .header {
    flex-wrap: wrap;
  }
}

.table main {
  > div:nth-child(even) {
    background-color: $lightGray;
  }
}

.tableRow {
  padding: 3rem;
}
