@import 'src/styles/mixins.scss';

.search {
  position: relative;
  margin-left: 3rem;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0.5rem;
    z-index: 1;
    background: url('./logsearchbar.svg') no-repeat center center;
    background-size: 1.2rem 1.2rem;
    width: 1.2rem;
    height: 100%;
  }

  input[type='text'].input {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-right: 2rem;
    margin-top: 0.3rem;
    max-width: 25rem;
    display: inline-block;
  }

  button {
    margin-right: 1rem;
  }

  &.dark {
    input {
      color: $darkWhite;
      background-color: $purple;
      &:hover,
      &:focus {
        background-color: $purple
      }
    }
  }
}
