@import 'src/styles/mixins.scss';

.menu {
  &.sticky {
    position: sticky;
    top: 16px;
  }
  // matches this.disable value set in index.js
  @media screen and (max-width: 850px) {
    display: none;
  }
}
.cards {
  flex-grow: 1;
}

.border {
  height: 2px;
  background: $lightGray;
  width: 100%;
}
