@import 'src/styles/mixins.scss';

.menu {
  margin: 0 1rem;
  opacity: 0.5;
  transition: opacity 250ms ease-in;

  &.active {
    opacity: 1;

    .arrow {
      transform: rotate(90deg);
    }
  }

  &:hover,
  &:focus {
    opacity: 1;
  }

  .text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    padding: 0.2rem; //to prevent the Workspace title from getting cut off int he app.
  }

  &.active .text {
    max-width: 50vw;
  }
}

.arrow {
  display: inline-block;
  height: 0.6em;
  margin-left: 1rem;
  margin-top: 0.6rem;
  transition: transform 250ms ease-in;
}

.content {
  width: 80%;
  margin: auto;
}

.addNew {
  &:first-child {
    display: none;
  }

  height: 2px;
  width: 100%;
  background: $lightGray;
  border: none;
}
