@import 'src/styles/mixins.scss';

.menu {
  margin: 0 1rem;
  white-space: nowrap;
  opacity: 0.5;
  transition: opacity 250ms ease-in;
  &.active {
    opacity: 1;
    .arrow {
      transform: rotate(90deg);
    }
  }
  &:hover,
  &:focus {
    opacity: 1;
  }
}

.arrow {
  display: inline-block;
  height: 0.6em;
  margin-left: 1rem;
  transition: transform 250ms ease-in;
}

.content {
  width: 80%;
  margin: auto;
}

.addNew {
  height: 2px;
  width: 100%;
  background: $lightGray;
  border: none;
}
