@import 'src/styles/mixins.scss';

.content {
  margin: auto;
  width: 100%;
  height: inherit;
  min-height: inherit;
  padding: 1.5rem 2rem 3rem;
  background: linear-gradient(45deg, $darkPurple, $lightPurple);
  color: $white;
  border-radius: 3px;
  p {
    @include mono;
    font-size: 0.75em;
    letter-spacing: -0.01px;
  }
}
