@import 'src/styles/mixins.scss';

.content {
  margin: 0 auto;
  padding-right: 2rem;
  position: relative;
}

// a placeholder div to keep content aligned while card is loading
.card > div {
  margin: 0;
}

.wrapper {
  max-height: 66vh;
  margin-bottom: 10rem;

  & > div {
    width: 50%;

    &:last-child {
      flex-basis: 1;
      align-self: flex-start;
    }

    @media screen and (max-width: 1212px) {
      width: 100%;
    }
  }
}
