@import 'src/styles/mixins.scss';

.content {
  margin: 0 auto;
}

.wrapper {
  max-height: 66vh;
  & > div {
    width: 100%;
    max-width: 42rem;
    &:first-child {
      @media screen and (max-width: 1350px) and (min-width: 1230px) {
        max-width: 33rem;
      }
      @media screen and (max-width: 1230px) {
        margin-bottom: 3rem;
      }
    }
    &:last-child {
      flex-basis: 1;
      align-self: flex-start;
    }
  }
}
