@import 'src/styles/mixins.scss';

div.list {
  height: auto;
  min-height: 50vh;
}

.title {
  width: 55%;
  min-width: 18rem;
}

.log {
  width: 35%;
  min-width: 18rem;
  color: $beige;
}

.profileLarge {
  width: 11rem;
  @include shadow;
}

.avatar {
  width: 3rem;
  height: 3rem;
  @include shadow;
}
