@import 'src/styles/mixins.scss';

.button {
  display: inline-block;
  @include filmo;
  white-space: nowrap;
  border-radius: 3px;
  width: 100%;
  // padding: 1.4em 1.8em 1.05em;
  height: 4em; //specifying for 100% children

  @include shadow;
  overflow: hidden;
  background-image: linear-gradient(to right, $green, $blue);
  &,
  &:visited {
    color: $white;
  }
  .text {
    height: 100%;
    padding: 1.4em 1.8em 1.05em;
    border-left: 2px solid $white;
  }

  &.google {
    background-image: linear-gradient(to right, $darkBlue, $lightBlue);
  }
  &.github {
    background-image: linear-gradient(to right, $darkPurple, $lightPurple);
  }
  &.auth0 {
    background-image: linear-gradient(to right, $red, $darkOrange);
  }
}

.img {
  height: 100%;
  width: 4em;

  img {
    height: 52%;
  }
}

.arrow {
  display: inline-block;
  height: 0.75em;
  margin-left: 1rem;

  @media screen and (max-width: 380px) {
    display: none;
  }
}
