@import 'src/styles/mixins.scss';

.field {
  // for dropdown menu's
  ul {
    padding: 0;
    overflow: visible;
  }
}

.value:not(:first-child) {
  margin-top: 0;
  width: 65%;
}

.colon {
  color: $lightBeige;
  margin: 1rem 0.8rem 0 0.6rem;
}
