@import 'src/styles/mixins.scss';

a.item {
  display: block;
  font-size: 1.4rem;
  color: $darkGray;

  &:hover,
  &:focus {
    color: $lightPurple;
    img {
      opacity: 1;
    }
  }

  img {
    opacity: 0.5;
  }
  // this prevents width from changing on hover
  &::after {
    display: block;
    content: attr(title);
    @include font($f700);
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

a.active {
  @include font($f700);
  color: $lightPurple;
}
