@import '../../../styles/mixins.scss';

a.item {
  display: block;
  font-size: 1.4rem;
  color: $darkGray;
  &:hover,
  &:focus {
    color: $lightPurple;
    img {
      opacity: 1;
    }
  }

  img {
    opacity: 0.5;
  }
}

a.active {
  @include font($f700);
  color: $lightPurple;
}
