@import 'src/styles/mixins.scss';

$footerHeaderHeight: 6.2rem;

.card {
  position: relative;
  min-height: 7rem;
  border-radius: $borderRadius;
  background-color: $white;
  margin: 1rem;
  border-radius: 3px;
  overflow: hidden;

  header > div,
  main,
  footer > div {
    width: 100%;
    padding: 1rem 2rem;
  }

  main {
    height: inherit;
    min-height: inherit;
  }

  header {
    width: 100%;
    // min-height: $footerHeaderHeight;
  }

  footer {
    width: 100%;
    margin-top: -2rem;
    margin-bottom: 1rem;
  }

  h5 {
    color: $purple;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .title {
    h5 {
      white-space: nowrap;
    }

    height: $footerHeaderHeight;
    width: 94%;
    margin: auto;
    border-bottom: 1px solid $lightGray;
  }
}
