@import 'src/styles/mixins.scss';

$footerHeaderHeight: 6.2rem;

.card {
  min-height: 7rem;
  border-radius: $borderRadius;
  background-color: $white;
  margin: 1rem;
  @include shadow;
  border: 1px solid $shadow;

  header > div,
  main,
  footer > div {
    width: 100%;
    padding: 1rem 2rem;
  }

  main {
    height: inherit;
    min-height: inherit;

    @include p;
  }

  header {
    width: 100%;
    min-height: $footerHeaderHeight;
  }

  footer {
    width: 100%;
    background: $lightGray;
    > * {
      min-height: $footerHeaderHeight;
    }
  }
  h5 {
    color: $lightBeige;
  }
  .title {
    h5 {
      white-space: nowrap;
    }
    height: $footerHeaderHeight;
    width: 94%;
    margin: auto;
    border-bottom: 1px solid $lightGray;
  }
}
