@import 'styles/mixins.scss';

.card {
  min-height: 7rem;
  border-radius: $borderRadius;
  background-color: $white;
  margin: 1rem;
  @include shadow;
  border: 1px solid $shadow;

  main {
    width: 100%;
    padding: 1rem 1.5rem;
  }
}
