@import 'src/styles/mixins.scss';

.field {
  textarea {
    border: 2px solid $darkWhite;
    border-radius: 3px;
    @include font($f500);
    font-size: 1.5rem;
    color: $purple;
    padding: 0.4em 1.2em 0.5em 0.8em;
    height: 6em;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    width: 100%;
    max-width: 34rem;
    background-color: $darkWhite;
    box-shadow: none;
    &:hover {
      background-color: $darkWhite;
      border: 2px solid $darkWhite;
    }
    &:focus {
      background-color: lighten($darkWhite, 5%);
      border: 2px solid $lightBlue;
      box-shadow: 0 0 0px 1000px rgba($lightBlue, 0.05) inset;
    }
    &::placeholder {
      color: $lightBeige;
    }
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px $darkWhite inset !important;
      -webkit-text-fill-color: $purple !important;
      background-color: $darkWhite !important;
    }
  }
}

.disabled {
  background-image: none;
  opacity: 0.6;
  pointer-events: none;
  filter: grayscale(100%)
}
