@import '../../../styles/mixins.scss';

a.link {
  display: block;
  @include filmo;
  white-space: nowrap;

  background-clip: text;
  -webkit-background-clip: text;
  background-size: 100%;
  background-position: left;
  color: transparent;
  background-image: linear-gradient(to right, $green, $blue);
  &.red-orange {
    background-image: linear-gradient(to right, $red, $orange);
  }
  &.red {
    background-image: linear-gradient(to right, $red, rgb(241, 90, 36));
  }

  &.purple {
    background-color: $purple;
    background-image: none;
  }
  &.beige {
    background-color: $beige;
    background-image: none;
  }

  &.blue {
    background-image: linear-gradient(to right, $blue, $lightBlue);
  }

  &.disabled {
    background: $beige;
    background-image: none;
    opacity: 0.6;
  }
}
