@import '../../../styles/mixins.scss';

.p {
  @include font($f400);
  font-size: 1.5rem;

  a {
    display: inline;
    @include font($f600);
    &:hover,
    &:active,
    &:focus {
      color: $lightGreen;
    }
    &,
    &:visited {
      color: $green;
    }
  }
}
