<!DOCTYPE html>
<html lang="en">
<!--
  **NOTE:** This is a template for index.html. It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment. htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles to this file. The generated bundles have hash-based filenames, so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/. For examples of using it with htmlWebpackPlugin, see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->
  <head>
    <script type="text/javascript">
    window['API_HTTP'] = '<%= htmlWebpackPlugin.options.api_http %>'
window['STRIPE_PK'] = '<%= htmlWebpackPlugin.options.stripe_pk %>'
</script>
    <script type="text/javascript">
      <%= htmlWebpackPlugin.options.tracking_snippet %>
    </script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8"/>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1" />
    <title>Astronomer</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
