//Astronomer Palette

$purple: #302c43;
$darkPurple: #282632;
$lightPurple: #342f54;

$orange: #ff9a09;
$darkOrange: #f48e06;
$lightOrange: #ffae21;

$blue: #0cbedb;
$darkBlue: #068eac;
$lightBlue: #0cbedb;

$beige: #767574;
$darkBeige: #6a6967;
$lightBeige: #8f8e8c;

$white09: #fff;
$white: #fffefd;
$white11: #f5f5f5;
$white12: #eeeceb;
$darkWhite: $white11;

$green: #00b35d;
$darkGreen: #02a562;
$lightGreen: #07d65b;

$red: #f4442c;

$gray: #c4c2c1;
$darkGray: #767574;
$lightGray: #f4f3f1;

// shadows
$shadow: rgba(40, 34, 23, 0.1);

// transparent rgba for safari rendering of gradients
$purple0: rgba(48, 44, 67, 0);
$orange0: rgba(255, 154, 9, 0);
$darkOrange0: rgba(244, 142, 6, 0);
$blue0: rgba(6, 157, 172, 0);
$darkBlue0: rgba(7, 132, 170, 0);
$white0: rgba(254, 252, 249, 0);
$green0: rgba(0, 172, 107, 0);
$red0: rgba(244, 54, 44, 0);
$gray0: rgba(218, 213, 207, 0);
