//Astronomer Palette

$purple: #302c43;
$darkPurple: #24232a;
$lightPurple: #342f54;

$orange: #ff9a09;
$darkOrange: #f48e06;
$lightOrange: #ffb852;

$blue: #069dac;
$darkBlue: #0784aa;
$lightBlue: #09acc6;

$beige: #7c766a;
$darkBeige: #706a5f;
$lightBeige: #a39a8b;

$darkWhite: #efece7;
$white: #fefcf9;

$green: #00ac6b;
$darkGreen: #02a562;
$lightGreen: #13dd56;

$red: #f4362c;

$gray: #dad5cf;
$darkGray: #827f7c;
$lightGray: #f2f1ee;

// shadows
$shadow: rgba(40, 34, 23, 0.1);

// transparent rgba for safari rendering of gradients
$purple0: rgba(48, 44, 67, 0);
$orange0: rgba(255, 154, 9, 0);
$darkOrange0: rgba(244, 142, 6, 0);
$blue0: rgba(6, 157, 172, 0);
$darkBlue0: rgba(7, 132, 170, 0);
$white0: rgba(254, 252, 249, 0);
$green0: rgba(0, 172, 107, 0);
$red0: rgba(244, 54, 44, 0);
