@mixin spacing() {
  h2,
  h1 {
    margin-bottom: 1.1rem;
  }
  p:not(:last-child),
  h4:not(:last-child) {
    margin-bottom: 3.3rem;
  }
}

@mixin p() {
  p:not(:first-of-type) {
    margin-top: 2rem;
  }
}
