@mixin flex($flow) {
  display: flex;
  flex-flow: $flow;
}

@mixin justify($justify: center) {
  justify-content: $justify;
}

@mixin align($align: center) {
  align-items: $align;
}

@mixin wrap($wrap: nowrap) {
  flex-wrap: $wrap;
}
