@mixin filmo {
  font-family: 'Filmotype Fashion', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  //margin-top: 0.2em;
  font-size: 0.9rem;
  line-height: 1.6em;
}

@mixin font($f) {
  font-family: $f, 'Open Sans', Helvetica, Arial, sans-serif;
}

$f300: 'Sofia Light';
$f400: 'Sofia Regular';
$f400i: 'Sofia Regular Italic';
$f500: 'Sofia Medium';
$f600: 'Sofia Semi Bold';
$f700: 'Sofia Bold';

@mixin mono() {
  font-family: 'Menlo', 'Inconsolata', 'Fira Mono', 'Droid Sans Mono',
    'Source Code Pro', monospace;
  //font-family: monospace;
}
