@import 'src/styles/mixins.scss';

@media screen and (max-width: 1212px) {
  .login > div {
    &:first-child {
      order: 2;
      margin-top: 3rem;
      h1 {
        display: none;
      }
    }
  }
}
