@import 'src/styles/mixins.scss';

div.list {
  height: auto;
  min-height: 50vh;
}

.title {
  width: 50%;
  min-width: 18rem;
  @media screen and (max-width: 50rem) {
    flex-basis: 1;
    flex-grow: 1;
  }
}

.log {
  width: 32%;
  min-width: 18rem;
  color: $beige;
  @media screen and (max-width: 55rem) {
    display: none;
  }
}

.icon img {
  width: 3.2rem;
}

.largeStars {
  width: 11rem;
}

.deploymentCount {
  width: 7rem;
  margin-left: auto;
  color: $darkBeige;
  @media screen and (max-width: 50rem) {
    display: none;
  }
  img {
    height: 0.9em;
    margin-right: 0.4em;
    transform: rotate(-35deg);
  }
}

.trial {
  width: 10%;
  min-width: 15rem;
  color: $blue;
}
